In [0]:
spark.sql("use sai")

DataFrame[]

In [0]:
spark.sql("create database saji")

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
File <command-8034433521494246>, line 1
----> 1 spark.sql("create database saji")

File /databricks/python/lib/python3.11/site-packages/pyspark/sql/connect/session.py:736, in SparkSession.sql(self, sqlQuery, args, **kwargs)
    733         _views.append(SubqueryAlias(df._plan, name))
    735 cmd = SQL(sqlQuery, _args, _named_args, _views)
--> 736 data, properties, ei = self.client.execute_command(cmd.command(self._client))
    737 if "sql_command_result" in properties:
    738     df = DataFrame(CachedRelation(properties["sql_command_result"]), self)

File /databricks/python/lib/python3.11/site-packages/pyspark/sql/connect/client/core.py:1303, in SparkConnectClient.execute_command(self, command, observations, extra_request_metadata)
   1301     req.user_context.user_id = self._user_id
   1302 req.plan.command.CopyFrom(command)
-> 1303 data, _, metrics, observed_metrics, properties = self._execute_and_fetch(
   1304     req, observations or {}, extra_request_metadata
   1305 )
   1306 # Create a query execution object.
   1307 ei = ExecutionInfo(metrics, observed_metrics)

File /databricks/python/lib/python3.11/site-packages/pyspark/sql/connect/client/core.py:1761, in SparkConnectClient._execute_and_fetch(self, req, observations, extra_request_metadata, self_destruct)
   1758 properties: Dict[str, Any] = {}
   1760 with Progress(handlers=self._progress_handlers, operation_id=req.operation_id) as progress:
-> 1761     for response in self._execute_and_fetch_as_iterator(
   1762         req, observations, extra_request_metadata or [], progress=progress
   1763     ):
   1764         if isinstance(response, StructType):
   1765             schema = response

File /databricks/python/lib/python3.11/site-packages/pyspark/sql/connect/client/core.py:1737, in SparkConnectClient._execute_and_fetch_as_iterator(self, req, observations, extra_request_metadata, progress)
   1735     raise kb
   1736 except Exception as error:
-> 1737     self._handle_error(error)

File /databricks/python/lib/python3.11/site-packages/pyspark/sql/connect/client/core.py:2053, in SparkConnectClient._handle_error(self, error)
   2051 self.thread_local.inside_error_handling = True
   2052 if isinstance(error, grpc.RpcError):
-> 2053     self._handle_rpc_error(error)
   2054 elif isinstance(error, ValueError):
   2055     if "Cannot invoke RPC" in str(error) and "closed" in str(error):

File /databricks/python/lib/python3.11/site-packages/pyspark/sql/connect/client/core.py:2132, in SparkConnectClient._handle_rpc_error(self, rpc_error)
   2128             d.Unpack(info)
   2130             self._handle_rpc_error_with_error_info(status, info)  # EDGE
-> 2132             raise convert_exception(
   2133                 info,
   2134                 status.message,
   2135                 self._fetch_enriched_error(info),
   2136                 self._display_server_stack_trace(),
   2137             ) from None
   2139     raise SparkConnectGrpcException(
   2140         message=status.message,
   2141         sql_state=SparkConnectGrpcException.CLIENT_UNEXPECTED_MISSING_SQL_STATE,  # EDGE
   2142     ) from None
   2143 else:

AnalysisException: [SCHEMA_ALREADY_EXISTS] Cannot create schema `saji` because it already exists.
Choose a different name, drop the existing schema, or add the IF NOT EXISTS clause to tolerate pre-existing schema. SQLSTATE: 42P06

JVM stacktrace:
org.apache.spark.sql.catalyst.analysis.NamespaceAlreadyExistsException
	at org.apache.spark.sql.errors.QueryCompilationErrors$.namespaceAlreadyExistsError(QueryCompilationErrors.scala:2255)
	at org.apache.spark.sql.execution.datasources.v2.CreateNamespaceExec.run(CreateNamespaceExec.scala:56)
	at org.apache.spark.sql.execution.datasources.v2.V2CommandExec.$anonfun$result$2(V2CommandExec.scala:48)
	at org.apache.spark.sql.execution.SparkPlan.runCommandInAetherOrSpark(SparkPlan.scala:195)
	at org.apache.spark.sql.execution.datasources.v2.V2CommandExec.$anonfun$result$1(V2CommandExec.scala:48)
	at com.databricks.spark.util.FrameProfiler$.record(FrameProfiler.scala:94)
	at org.apache.spark.sql.execution.datasources.v2.V2CommandExec.result$lzycompute(V2CommandExec.scala:47)
	at org.apache.spark.sql.execution.datasources.v2.V2CommandExec.result(V2CommandExec.scala:45)
	at org.apache.spark.sql.execution.datasources.v2.V2CommandExec.executeCollect(V2CommandExec.scala:56)
	at org.apache.spark.sql.execution.QueryExecution.$anonfun$eagerlyExecuteCommands$5(QueryExecution.scala:461)
	at com.databricks.util.LexicalThreadLocal$Handle.runWith(LexicalThreadLocal.scala:63)
	at org.apache.spark.sql.execution.QueryExecution.$anonfun$eagerlyExecuteCommands$4(QueryExecution.scala:461)
	at org.apache.spark.sql.catalyst.QueryPlanningTracker$.withTracker(QueryPlanningTracker.scala:246)
	at org.apache.spark.sql.execution.QueryExecution.$anonfun$eagerlyExecuteCommands$3(QueryExecution.scala:460)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId0$13(SQLExecution.scala:523)
	at com.databricks.sql.util.MemoryTrackerHelper.withMemoryTracking(MemoryTrackerHelper.scala:111)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId0$12(SQLExecution.scala:443)
	at org.apache.spark.sql.execution.SQLExecution$.withSessionTagsApplied(SQLExecution.scala:817)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId0$11(SQLExecution.scala:372)
	at org.apache.spark.JobArtifactSet$.withActiveJobArtifactState(JobArtifactSet.scala:97)
	at org.apache.spark.sql.artifact.ArtifactManager.$anonfun$withResources$1(ArtifactManager.scala:121)
	at org.apache.spark.sql.artifact.ArtifactManager.withClassLoaderIfNeeded(ArtifactManager.scala:115)
	at org.apache.spark.sql.artifact.ArtifactManager.withResources(ArtifactManager.scala:120)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId0$10(SQLExecution.scala:372)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:846)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId0$1(SQLExecution.scala:371)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:860)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId0(SQLExecution.scala:237)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:770)
	at org.apache.spark.sql.execution.QueryExecution.$anonfun$eagerlyExecuteCommands$2(QueryExecution.scala:456)
	at org.apache.spark.sql.execution.QueryExecution$.withInternalError(QueryExecution.scala:1339)
	at org.apache.spark.sql.execution.QueryExecution.$anonfun$eagerlyExecuteCommands$1(QueryExecution.scala:452)
	at org.apache.spark.sql.execution.QueryExecution.withMVTagsIfNecessary(QueryExecution.scala:381)
	at org.apache.spark.sql.execution.QueryExecution.org$apache$spark$sql$execution$QueryExecution$$eagerlyExecute$1(QueryExecution.scala:450)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$$nestedInanonfun$eagerlyExecuteCommands$8$1.applyOrElse(QueryExecution.scala:517)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$$nestedInanonfun$eagerlyExecuteCommands$8$1.applyOrElse(QueryExecution.scala:509)
	at org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$transformDownWithPruning$1(TreeNode.scala:521)
	at org.apache.spark.sql.catalyst.trees.CurrentOrigin$.withOrigin(origin.scala:121)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDownWithPruning(TreeNode.scala:521)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.org$apache$spark$sql$catalyst$plans$logical$AnalysisHelper$$super$transformDownWithPruning(LogicalPlan.scala:42)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning(AnalysisHelper.scala:361)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning$(AnalysisHelper.scala:357)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:42)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:42)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDown(TreeNode.scala:497)
	at org.apache.spark.sql.execution.QueryExecution.$anonfun$eagerlyExecuteCommands$8(QueryExecution.scala:509)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper$.allowInvokingTransformsInAnalyzer(AnalysisHelper.scala:418)
	at org.apache.spark.sql.execution.QueryExecution.eagerlyExecuteCommands(QueryExecution.scala:509)
	at org.apache.spark.sql.execution.QueryExecution.$anonfun$lazyCommandExecuted$1(QueryExecution.scala:337)
	at scala.util.Try$.apply(Try.scala:217)
	at org.apache.spark.util.Utils$.doTryWithCallerStacktrace(Utils.scala:1687)
	at org.apache.spark.util.Utils$.getTryWithCallerStacktrace(Utils.scala:1748)
	at org.apache.spark.util.LazyTry.get(LazyTry.scala:58)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted(QueryExecution.scala:342)
	at org.apache.spark.sql.classic.Dataset.<init>(Dataset.scala:428)
	at org.apache.spark.sql.classic.Dataset$.$anonfun$ofRows$3(Dataset.scala:155)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:860)
	at org.apache.spark.sql.classic.SparkSession.$anonfun$withActiveAndFrameProfiler$1(SparkSession.scala:1157)
	at com.databricks.spark.util.FrameProfiler$.record(FrameProfiler.scala:94)
	at org.apache.spark.sql.classic.SparkSession.withActiveAndFrameProfiler(SparkSession.scala:1157)
	at org.apache.spark.sql.classic.Dataset$.ofRows(Dataset.scala:146)
	at org.apache.spark.sql.classic.SparkSession.$anonfun$sql$4(SparkSession.scala:936)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:860)
	at org.apache.spark.sql.classic.SparkSession.sql(SparkSession.scala:888)
	at org.apache.spark.sql.connect.planner.SparkConnectPlanner.executeSQL(SparkConnectPlanner.scala:3382)
	at org.apache.spark.sql.connect.planner.SparkConnectPlanner.handleSqlCommand(SparkConnectPlanner.scala:3211)
	at org.apache.spark.sql.connect.planner.SparkConnectPlanner.process(SparkConnectPlanner.scala:3089)
	at org.apache.spark.sql.connect.execution.ExecuteThreadRunner.handleCommand(ExecuteThreadRunner.scala:419)
	at org.apache.spark.sql.connect.execution.ExecuteThreadRunner.$anonfun$executeInternal$1(ExecuteThreadRunner.scala:316)
	at org.apache.spark.sql.connect.execution.ExecuteThreadRunner.$anonfun$executeInternal$1$adapted(ExecuteThreadRunner.scala:237)
	at org.apache.spark.sql.connect.service.SessionHolder.$anonfun$withSession$2(SessionHolder.scala:466)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:860)
	at org.apache.spark.sql.connect.service.SessionHolder.$anonfun$withSession$1(SessionHolder.scala:466)
	at org.apache.spark.JobArtifactSet$.withActiveJobArtifactState(JobArtifactSet.scala:97)
	at org.apache.spark.sql.artifact.ArtifactManager.$anonfun$withResources$1(ArtifactManager.scala:121)
	at org.apache.spark.sql.artifact.ArtifactManager.withClassLoaderIfNeeded(ArtifactManager.scala:115)
	at org.apache.spark.sql.artifact.ArtifactManager.withResources(ArtifactManager.scala:120)
	at org.apache.spark.sql.connect.service.SessionHolder.withSession(SessionHolder.scala:465)
	at org.apache.spark.sql.connect.execution.ExecuteThreadRunner.executeInternal(ExecuteThreadRunner.scala:237)
	at org.apache.spark.sql.connect.execution.ExecuteThreadRunner.org$apache$spark$sql$connect$execution$ExecuteThreadRunner$$execute(ExecuteThreadRunner.scala:140)
	at org.apache.spark.sql.connect.execution.ExecuteThreadRunner$ExecutionThread.$anonfun$run$2(ExecuteThreadRunner.scala:620)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.scala:18)
	at com.databricks.unity.UCSEphemeralState$Handle.runWith(UCSEphemeralState.scala:51)
	at com.databricks.unity.HandleImpl.runWith(UCSHandle.scala:104)
	at com.databricks.unity.HandleImpl.$anonfun$runWithAndClose$1(UCSHandle.scala:109)
	at scala.util.Using$.resource(Using.scala:296)
	at com.databricks.unity.HandleImpl.runWithAndClose(UCSHandle.scala:108)
	at org.apache.spark.sql.connect.execution.ExecuteThreadRunner$ExecutionThread.run(ExecuteThreadRunner.scala:620)

In [0]:
spark.sql("use saji")

DataFrame[]

In [0]:
spark.sql("create table saji.vs(gid int,gname varchar(90),gsal int)")

DataFrame[]

In [0]:
spark.sql("insert into saji.vs values(10,'santhosh',333),(20,'meghana',555),(30,'teja',777)")

DataFrame[num_affected_rows: bigint, num_inserted_rows: bigint]

In [0]:
%sql
drop table saji.vs

In [0]:
spark.sql ("select * from saji.vs").show()

+---+--------+----+
|gid|   gname|gsal|
+---+--------+----+
| 10|santhosh| 333|
|  2| meghana| 555|
| 30|    teja| 777|
+---+--------+----+

In [0]:
spark.sql("create database sai")

DataFrame[]

In [0]:
spark.sql("use sai")

DataFrame[]

In [0]:
spark.sql("create table sai.km(gid int,gname varchar(90))")

DataFrame[]

In [0]:
spark.sql("insert into sai.km values(10,'azure'),(20,'eee'),(30,'iti')")

DataFrame[num_affected_rows: bigint, num_inserted_rows: bigint]

In [0]:
spark.sql("select * from sai.km").show()

+---+-----+
|gid|gname|
+---+-----+
| 10|azure|
| 20|  eee|
| 30|  iti|
+---+-----+

In [0]:
spark.sql ("select * from saji.vs").show()
spark.sql("select * from sai.km").show()
#inner join between  two tables
spark.sql("select * from saji.vs as v inner join sai.km as k on v.gid=k.gid").show()

+---+--------+----+
|gid|   gname|gsal|
+---+--------+----+
| 10|santhosh| 333|
| 20| meghana| 555|
| 30|    teja| 777|
+---+--------+----+

+---+-----+
|gid|gname|
+---+-----+
| 10|azure|
| 20|  eee|
| 30|  iti|
+---+-----+

+---+--------+----+---+-----+
|gid|   gname|gsal|gid|gname|
+---+--------+----+---+-----+
| 10|santhosh| 333| 10|azure|
| 20| meghana| 555| 20|  eee|
| 30|    teja| 777| 30|  iti|
+---+--------+----+---+-----+

In [0]:
spark.sql("select * from saji.vs as v inner join sai.km as k on v.gid=k.gid").select ("v.gname","v.gsal","k.gname").show()

+--------+----+-----+
|   gname|gsal|gname|
+--------+----+-----+
|santhosh| 333|azure|
| meghana| 555|  eee|
|    teja| 777|  iti|
+--------+----+-----+

In [0]:
#convert table to dataframe
spark.sql("select * from sai.km").show()
df=spark.table("sai.km").collect()
display(df)

+---+-----+
|gid|gname|
+---+-----+
| 10|azure|
| 20|  eee|
| 30|  iti|
+---+-----+

gid,gname
10,azure
20,eee
30,iti

In [0]:
#convert table into dataframe
spark.sql("select * from saji.vs").show()
df1=spark.table("saji.vs").collect()
display()

+---+--------+----+
|gid|   gname|gsal|
+---+--------+----+
| 10|santhosh| 333|
| 20| meghana| 555|
| 30|    teja| 777|
+---+--------+----+

gid,gname,gsal
10,santhosh,333
20,meghana,555
30,teja,777

In [0]:
from pyspark.sql import SparkSession



# Define schema and data
y = ["eno", "ename", "esal"]
x = [
    (1, "sajida", 500),
    (2, "navya", 700),
    (3, "vs", 500),
    (4, "manish", 1000)
]

# Create DataFrame
df = spark.createDataFrame(data=x, schema=y)

# Display DataFrame
df.show()
display(df)

+---+------+----+
|eno| ename|esal|
+---+------+----+
|  1|sajida| 500|
|  2| navya| 700|
|  3|    vs| 500|
|  4|manish|1000|
+---+------+----+

eno,ename,esal
1,sajida,500
2,navya,700
3,vs,500
4,manish,1000

In [0]:
#Creatdatframe
df = spark.createDataFrame(data=x, schema=y)

y =["eno","ename","esal"]

x=[
    (1,"sajida",500),
   (2,"navya",700),
   (3,"vs",500),
   (4,"manish",1000)

]
#display
display(df)
df.show()

eno,ename,esal
1,sajida,500
2,navya,700
3,vs,500
4,manish,1000

+---+------+----+
|eno| ename|esal|
+---+------+----+
|  1|sajida| 500|
|  2| navya| 700|
|  3|    vs| 500|
|  4|manish|1000|
+---+------+----+

In [0]:
empColumns=["emp_id","name","superior_emp_id","year_joined","emp_dept_id","gender","salary"]
data=[
    (1,"smitha",-1,"2008","10","male",3000),\
    (2,"rose",1,"2010","20","male",4000),\
    (3,"williams",1,"2010","10","male",1000),\
    (4,"jones",-2,"2005","10","female",2000),\
    (5,"brown",2,"2010","40","female",7000),\
    (6,"green",2,"2010","50","male",4000), 
]
empdf=spark.createDataFrame(data=data, schema= empColumns)

#display
display(empdf)
empdf.show()
empdf.printSchema()

emp_id,name,superior_emp_id,year_joined,emp_dept_id,gender,salary
1,smitha,-1,2008,10,male,3000
2,rose,1,2010,20,male,4000
3,williams,1,2010,10,male,1000
4,jones,-2,2005,10,female,2000
5,brown,2,2010,40,female,7000
6,green,2,2010,50,male,4000

+------+--------+---------------+-----------+-----------+------+------+
|emp_id|    name|superior_emp_id|year_joined|emp_dept_id|gender|salary|
+------+--------+---------------+-----------+-----------+------+------+
|     1|  smitha|             -1|       2008|         10|  male|  3000|
|     2|    rose|              1|       2010|         20|  male|  4000|
|     3|williams|              1|       2010|         10|  male|  1000|
|     4|   jones|             -2|       2005|         10|female|  2000|
|     5|   brown|              2|       2010|         40|female|  7000|
|     6|   green|              2|       2010|         50|  male|  4000|
+------+--------+---------------+-----------+-----------+------+------+

root
 |-- emp_id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- superior_emp_id: long (nullable = true)
 |-- year_joined: string (nullable = true)
 |-- emp_dept_id: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)

##update salary

In [0]:
df=empdf.withColumn("updatesalary",empdf.salary+1500)
#display
display(df)

emp_id,name,superior_emp_id,year_joined,emp_dept_id,gender,salary,updatesalary
1,smitha,-1,2008,10,male,3000,4500
2,rose,1,2010,20,male,4000,5500
3,williams,1,2010,10,male,1000,2500
4,jones,-2,2005,10,female,2000,3500
5,brown,2,2010,40,female,7000,8500
6,green,2,2010,50,male,4000,5500

##renamed updatsalary as amount

In [0]:
df1=df.withColumnRenamed("updatesalary","Amount")
#display
display(df1)

emp_id,name,superior_emp_id,year_joined,emp_dept_id,gender,salary,Amount
1,smitha,-1,2008,10,male,3000,4500
2,rose,1,2010,20,male,4000,5500
3,williams,1,2010,10,male,1000,2500
4,jones,-2,2005,10,female,2000,3500
5,brown,2,2010,40,female,7000,8500
6,green,2,2010,50,male,4000,5500

In [0]:
empdf.show()
display(empdf)
empdf.printSchema()

+------+--------+---------------+-----------+-----------+------+------+
|emp_id|    name|superior_emp_id|year_joined|emp_dept_id|gender|salary|
+------+--------+---------------+-----------+-----------+------+------+
|     1|  smitha|             -1|       2008|         10|  male|  3000|
|     2|    rose|              1|       2010|         20|  male|  4000|
|     3|williams|              1|       2010|         10|  male|  1000|
|     4|   jones|             -2|       2005|         10|female|  2000|
|     5|   brown|              2|       2010|         40|female|  7000|
|     6|   green|              2|       2010|         50|  male|  4000|
+------+--------+---------------+-----------+-----------+------+------+

emp_id,name,superior_emp_id,year_joined,emp_dept_id,gender,salary
1,smitha,-1,2008,10,male,3000
2,rose,1,2010,20,male,4000
3,williams,1,2010,10,male,1000
4,jones,-2,2005,10,female,2000
5,brown,2,2010,40,female,7000
6,green,2,2010,50,male,4000

root
 |-- emp_id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- superior_emp_id: long (nullable = true)
 |-- year_joined: string (nullable = true)
 |-- emp_dept_id: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)

##joins in dataframe

In [0]:
empColumns = ["emp_id","name","superior_emp_id","year_joined","emp_dept_id","gender","salary"]

empdata = [(1,"Smith",-1,"2018","10","M",3000), \
    (2,"Rose",1,"2010","20","M",4000), \
    (3,"Williams",1,"2010","30","M",1000), \
    (4,"Jones",2,"2005","10","F",2000), \
    (4,"Brown",2,"2010","40","",-1), \
      (6,"Brown",2,"2010","50","",-1) \
      ]

df = spark.createDataFrame(schema = empColumns, data=empdata)
display(df)

emp_id,name,superior_emp_id,year_joined,emp_dept_id,gender,salary
1,Smith,-1,2018,10,M,3000
2,Rose,1,2010,20,M,4000
3,Williams,1,2010,30,M,1000
4,Jones,2,2005,10,F,2000
4,Brown,2,2010,40,,-1
6,Brown,2,2010,50,,-1

In [0]:
deptdata = [("Finance",10), \
    ("Marketing",20), \
    ("Sales",30), \
    ("IT",40) \
  ]
deptColumns = ["dept_name","dept_id"]
df1 = spark.createDataFrame(data=deptdata, schema = deptColumns)
display(df1)

dept_name,dept_id
Finance,10
Marketing,20
Sales,30
IT,40

#joins

In [0]:
df2 =df.join(df1,df.emp_dept_id==df1.dept_id,"inner")

display(df2)

emp_id,name,superior_emp_id,year_joined,emp_dept_id,gender,salary,dept_name,dept_id
1,Smith,-1,2018,10,M,3000,Finance,10
2,Rose,1,2010,20,M,4000,Marketing,20
3,Williams,1,2010,30,M,1000,Sales,30
4,Jones,2,2005,10,F,2000,Finance,10
4,Brown,2,2010,40,,-1,IT,40

## i want only some of the columns

In [0]:
df2 =df.join(df1,df.emp_dept_id==df1.dept_id,"inner").select("name","emp_id","salary","gender",df1.dept_id)
#display
display(df2)

name,emp_id,salary,gender,dept_id
Smith,1,3000,M,10
Rose,2,4000,M,20
Williams,3,1000,M,30
Jones,4,2000,F,10
Brown,4,-1,,40

##left join

In [0]:
df2 =df.join(df1,df.emp_dept_id==df1.dept_id,"left")
display(df2)

emp_id,name,superior_emp_id,year_joined,emp_dept_id,gender,salary,dept_name,dept_id
1,Smith,-1,2018,10,M,3000,Finance,10
2,Rose,1,2010,20,M,4000,Marketing,20
3,Williams,1,2010,30,M,1000,Sales,30
4,Jones,2,2005,10,F,2000,Finance,10
4,Brown,2,2010,40,,-1,IT,40
6,Brown,2,2010,50,,-1,null,null

##left join with perticular columns

In [0]:
df2 =df.join(df1,df.emp_dept_id==df1.dept_id,"left").select("emp_id","name","salary","gender",df.emp_dept_id)
display(df2)

emp_id,name,salary,gender,emp_dept_id
1,Smith,3000,M,10
2,Rose,4000,M,20
3,Williams,1000,M,30
4,Jones,2000,F,10
4,Brown,-1,,40
6,Brown,-1,,50

##right join

In [0]:
df2 =df.join(df1,df.emp_dept_id==df1.dept_id,"right")
display(df2)

emp_id,name,superior_emp_id,year_joined,emp_dept_id,gender,salary,dept_name,dept_id
1,Smith,-1,2018,10,M,3000,Finance,10
2,Rose,1,2010,20,M,4000,Marketing,20
3,Williams,1,2010,30,M,1000,Sales,30
4,Jones,2,2005,10,F,2000,Finance,10
4,Brown,2,2010,40,,-1,IT,40

##right join with perticular column

In [0]:
df2 =df.join(df1,df.emp_dept_id==df1.dept_id,"right").select("emp_id","name","salary","gender",df1.dept_id,df.emp_dept_id)
display(df2)

emp_id,name,salary,gender,dept_id,emp_dept_id
1,Smith,3000,M,10,10
2,Rose,4000,M,20,20
3,Williams,1000,M,30,30
4,Jones,2000,F,10,10
4,Brown,-1,,40,40

##semi **join**
it look like as inner join

In [0]:
df2 =df.join(df1,df.emp_dept_id==df1.dept_id,"semi")
display(df2)

emp_id,name,superior_emp_id,year_joined,emp_dept_id,gender,salary
1,Smith,-1,2018,10,M,3000
2,Rose,1,2010,20,M,4000
3,Williams,1,2010,30,M,1000
4,Jones,2,2005,10,F,2000
4,Brown,2,2010,40,,-1

#left anti or anti join

In [0]:
df2 =df.join(df1,df.emp_dept_id==df1.dept_id,"anti")
display(df2)

emp_id,name,superior_emp_id,year_joined,emp_dept_id,gender,salary
6,Brown,2,2010,50,,-1

In [0]:
df2 =df.join(df1,df.emp_dept_id==df1.dept_id,"leftanti")
display(df2)

emp_id,name,superior_emp_id,year_joined,emp_dept_id,gender,salary
6,Brown,2,2010,50,,-1

##Narrow transformation 
it operates in single partion,examples flatmap(),map(),union(),filter()

In [0]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

#create spark session
spark= SparkSession.builder.appName("example").getOrCreate()

# Sample data
data = [
    ("Alice", "HR", 30),
    ("Bob", "IT", 45),
    ("Charlie", "HR", 28),
    ("David", "IT", 35),
    ("Eva", "Finance", 40)
]

# Create DataFrame
df = spark.createDataFrame(data, ["name", "department", "age"])
df.show()

+-------+----------+---+
|   name|department|age|
+-------+----------+---+
|  Alice|        HR| 30|
|    Bob|        IT| 45|
|Charlie|        HR| 28|
|  David|        IT| 35|
|    Eva|   Finance| 40|
+-------+----------+---+

In [0]:
#Narrow Transformation or filter like select * from emp where eno=7

df_filter=df.filter(col("age") >=30)
df_filter.show()

+-----+----------+---+
| name|department|age|
+-----+----------+---+
|Alice|        HR| 30|
|  Bob|        IT| 45|
|David|        IT| 35|
|  Eva|   Finance| 40|
+-----+----------+---+

In [0]:
#Narrow Transformation or filter like select * from emp where eno=7

df_filter=df.filter(col("department")=="IT")
df_filter.show()

+-----+----------+---+
| name|department|age|
+-----+----------+---+
|  Bob|        IT| 45|
|David|        IT| 35|
+-----+----------+---+

In [0]:
#Narrow Transformation or filter like select * from emp where eno=7

df_filter=df.filter(col("name")=="Alice")
df_filter.show()

+-----+----------+---+
| name|department|age|
+-----+----------+---+
|Alice|        HR| 30|
+-----+----------+---+

##wide transformation

*while wide transformations require data from multiple partitions, often involving shuffling
Examples: groupByKey(), reduceByKey(), join(), sortByKey()*

In [0]:
# Wide transformation: groupBy (causes shuffle)

df_grouped=df.groupBy("department").avg("age")
df_grouped.show()

+----------+--------+
|department|avg(age)|
+----------+--------+
|        HR|    29.0|
|        IT|    40.0|
|   Finance|    40.0|
+----------+--------+

In [0]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, DoubleType, DateType

# Initialize Spark session
spark = SparkSession.builder.appName("EmployeeDataFrame").getOrCreate()

# Define schema for the DataFrame
schema = StructType([
    StructField("EmployeeID", IntegerType(), True),
    StructField("FirstName", StringType(), True),
    StructField("LastName", StringType(), True),
    StructField("Department", StringType(), True),
    StructField("Designation", StringType(), True),
    StructField("Salary", IntegerType(), True),
    StructField("DateOfJoining", StringType(), True),  # You can parse this as DateType if needed
    StructField("Age", IntegerType(), True),
    StructField("City", StringType(), True),
    StructField("Email", StringType(), True),
])

# Employee data
employee_data = [
    (101, "Alice", "Smith", "HR", "Manager", 80000, "2015-06-23", 35, "New York", "alice.smith@company.com"),
    (102, "Bob", "Brown", "IT", "Developer", 95000, "2018-08-12", 29, "San Francisco", "bob.brown@company.com"),
    (103, "Charlie", "Davis", "Finance", "Analyst", 70000, "2017-09-15", 40, "Chicago", "charlie.davis@company.com"),
    (104, "Diana", "Wilson", "IT", "Lead", 110000, "2020-01-10", 33, "Boston", "diana.wilson@company.com"),
    (105, "Eve", "Moore", "Marketing", "Executive", 65000, "2016-03-30", 28, "Seattle", "eve.moore@company.com"),
    (106, "Frank", "Taylor", "Finance", "Analyst", 72000, "2019-05-14", 31, "Dallas", "frank.taylor@company.com"),
    (107, "Grace", "Anderson", "HR", "Assistant", 50000, "2014-11-01", 45, "Austin", "grace.anderson@company.com"),
    (108, "Hank", "Thomas", "IT", "Engineer", 85000, "2021-04-20", 30, "Denver", "hank.thomas@company.com"),
    (109, "Ivy", "Jackson", "Marketing", "Coordinator", 60000, "2013-07-22", 36, "Los Angeles", "ivy.jackson@company.com"),
    (110, "Jack", "White", "Finance", "Consultant", 75000, "2012-10-05", 41, "Miami", "jack.white@company.com"),
]

# Create DataFrame
df = spark.createDataFrame(employee_data, schema=schema)

# Show DataFrame
df.show()

+----------+---------+--------+----------+-----------+------+-------------+---+-------------+--------------------+
|EmployeeID|FirstName|LastName|Department|Designation|Salary|DateOfJoining|Age|         City|               Email|
+----------+---------+--------+----------+-----------+------+-------------+---+-------------+--------------------+
|       101|    Alice|   Smith|        HR|    Manager| 80000|   2015-06-23| 35|     New York|alice.smith@compa...|
|       102|      Bob|   Brown|        IT|  Developer| 95000|   2018-08-12| 29|San Francisco|bob.brown@company...|
|       103|  Charlie|   Davis|   Finance|    Analyst| 70000|   2017-09-15| 40|      Chicago|charlie.davis@com...|
|       104|    Diana|  Wilson|        IT|       Lead|110000|   2020-01-10| 33|       Boston|diana.wilson@comp...|
|       105|      Eve|   Moore| Marketing|  Executive| 65000|   2016-03-30| 28|      Seattle|eve.moore@company...|
|       106|    Frank|  Taylor|   Finance|    Analyst| 72000|   2019-05-14| 31|       Dallas|frank.taylor@comp...|
|       107|    Grace|Anderson|        HR|  Assistant| 50000|   2014-11-01| 45|       Austin|grace.anderson@co...|
|       108|     Hank|  Thomas|        IT|   Engineer| 85000|   2021-04-20| 30|       Denver|hank.thomas@compa...|
|       109|      Ivy| Jackson| Marketing|Coordinator| 60000|   2013-07-22| 36|  Los Angeles|ivy.jackson@compa...|
|       110|     Jack|   White|   Finance| Consultant| 75000|   2012-10-05| 41|        Miami|jack.white@compan...|
+----------+---------+--------+----------+-----------+------+-------------+---+-------------+--------------------+

 **from the table how many of salary is greter than 75000 sal* as wel as from this in need only EmployeeId,firstName,Department,salary**

In [0]:
# 1. SELECT: Choose specific columns
select_df=df.select ("EmployeeID","FirstName","Department","Salary")
print("Selected Columns:")
select_df.show()

# 2. FILTER: Employees with a salary greater than 75,000
filter_df=df.filter(col("salary") > 75000)
print("Filtered Employees (Salary > 75000):")
filter_df.show()

Selected Columns:
+----------+---------+----------+------+
|EmployeeID|FirstName|Department|Salary|
+----------+---------+----------+------+
|       101|    Alice|        HR| 80000|
|       102|      Bob|        IT| 95000|
|       103|  Charlie|   Finance| 70000|
|       104|    Diana|        IT|110000|
|       105|      Eve| Marketing| 65000|
|       106|    Frank|   Finance| 72000|
|       107|    Grace|        HR| 50000|
|       108|     Hank|        IT| 85000|
|       109|      Ivy| Marketing| 60000|
|       110|     Jack|   Finance| 75000|
+----------+---------+----------+------+

Filtered Employees (Salary > 75000):
+----------+---------+--------+----------+-----------+------+-------------+---+-------------+--------------------+
|EmployeeID|FirstName|LastName|Department|Designation|Salary|DateOfJoining|Age|         City|               Email|
+----------+---------+--------+----------+-----------+------+-------------+---+-------------+--------------------+
|       101|    Alice|   Smith|        HR|    Manager| 80000|   2015-06-23| 35|     New York|alice.smith@compa...|
|       102|      Bob|   Brown|        IT|  Developer| 95000|   2018-08-12| 29|San Francisco|bob.brown@company...|
|       104|    Diana|  Wilson|        IT|       Lead|110000|   2020-01-10| 33|       Boston|diana.wilson@comp...|
|       108|     Hank|  Thomas|        IT|   Engineer| 85000|   2021-04-20| 30|       Denver|hank.thomas@compa...|
+----------+---------+--------+----------+-----------+------+-------------+---+-------------+--------------------+

*join two tables wide transformation with aggregation*

In [0]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import count,sum,max,min,avg,col
#create spark session
spark= SparkSession.builder.appName("example").getOrCreate()

# 1. JOIN: Join the employee DataFrame with a sample Department DataFrame
department_data = [
    ("HR", "Human Resources"),
    ("IT", "Information Technology"),
    ("Finance", "Financial Services"),
    ("Marketing", "Marketing and Sales"),
]

df1 = spark.createDataFrame(department_data, ["Department", "DepartmentName"])

df1.show()
display(df1)

+----------+--------------------+
|Department|      DepartmentName|
+----------+--------------------+
|        HR|     Human Resources|
|        IT|Information Techn...|
|   Finance|  Financial Services|
| Marketing| Marketing and Sales|
+----------+--------------------+

Department,DepartmentName
HR,Human Resources
IT,Information Technology
Finance,Financial Services
Marketing,Marketing and Sales

* join df and df1

In [0]:
join_df=df.join(df1, on="Department", how="inner")
print("Joined DataFrame:")
join_df.show()
display(join_df)

Joined DataFrame:
+----------+----------+---------+--------+-----------+------+-------------+---+-------------+--------------------+--------------------+
|Department|EmployeeID|FirstName|LastName|Designation|Salary|DateOfJoining|Age|         City|               Email|      DepartmentName|
+----------+----------+---------+--------+-----------+------+-------------+---+-------------+--------------------+--------------------+
|        HR|       101|    Alice|   Smith|    Manager| 80000|   2015-06-23| 35|     New York|alice.smith@compa...|     Human Resources|
|        IT|       102|      Bob|   Brown|  Developer| 95000|   2018-08-12| 29|San Francisco|bob.brown@company...|Information Techn...|
|   Finance|       103|  Charlie|   Davis|    Analyst| 70000|   2017-09-15| 40|      Chicago|charlie.davis@com...|  Financial Services|
|        IT|       104|    Diana|  Wilson|       Lead|110000|   2020-01-10| 33|       Boston|diana.wilson@comp...|Information Techn...|
| Marketing|       105|      Eve|   Moore|  Executive| 65000|   2016-03-30| 28|      Seattle|eve.moore@company...| Marketing and Sales|
|   Finance|       106|    Frank|  Taylor|    Analyst| 72000|   2019-05-14| 31|       Dallas|frank.taylor@comp...|  Financial Services|
|        HR|       107|    Grace|Anderson|  Assistant| 50000|   2014-11-01| 45|       Austin|grace.anderson@co...|     Human Resources|
|        IT|       108|     Hank|  Thomas|   Engineer| 85000|   2021-04-20| 30|       Denver|hank.thomas@compa...|Information Techn...|
| Marketing|       109|      Ivy| Jackson|Coordinator| 60000|   2013-07-22| 36|  Los Angeles|ivy.jackson@compa...| Marketing and Sales|
|   Finance|       110|     Jack|   White| Consultant| 75000|   2012-10-05| 41|        Miami|jack.white@compan...|  Financial Services|
+----------+----------+---------+--------+-----------+------+-------------+---+-------------+--------------------+--------------------+

Department,EmployeeID,FirstName,LastName,Designation,Salary,DateOfJoining,Age,City,Email,DepartmentName
HR,101,Alice,Smith,Manager,80000,2015-06-23,35,New York,alice.smith@company.com,Human Resources
IT,102,Bob,Brown,Developer,95000,2018-08-12,29,San Francisco,bob.brown@company.com,Information Technology
Finance,103,Charlie,Davis,Analyst,70000,2017-09-15,40,Chicago,charlie.davis@company.com,Financial Services
IT,104,Diana,Wilson,Lead,110000,2020-01-10,33,Boston,diana.wilson@company.com,Information Technology
Marketing,105,Eve,Moore,Executive,65000,2016-03-30,28,Seattle,eve.moore@company.com,Marketing and Sales
Finance,106,Frank,Taylor,Analyst,72000,2019-05-14,31,Dallas,frank.taylor@company.com,Financial Services
HR,107,Grace,Anderson,Assistant,50000,2014-11-01,45,Austin,grace.anderson@company.com,Human Resources
IT,108,Hank,Thomas,Engineer,85000,2021-04-20,30,Denver,hank.thomas@company.com,Information Technology
Marketing,109,Ivy,Jackson,Coordinator,60000,2013-07-22,36,Los Angeles,ivy.jackson@company.com,Marketing and Sales
Finance,110,Jack,White,Consultant,75000,2012-10-05,41,Miami,jack.white@company.com,Financial Services

In [0]:
#calculate the avg salary and count wise depatment wise
df_grouped=join_df.groupBy("Department").agg(avg("Salary").alias("avg_salary"),count("EmployeeID").alias("count"))
display(df_grouped)

Department,avg_salary,count
HR,65000.0,2
IT,96666.66666666667,3
Finance,72333.33333333333,3
Marketing,62500.0,2

######Diff b/w group by key and reduced by key

In [0]:
 from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("GroupByVsReduceByKey").getOrCreate()

data = [
    ("HR", 3000),
    ("IT", 4000),
    ("HR", 3500),
    ("Finance", 4500),
    ("IT", 3800)
]

# Create DataFrame
df = spark.createDataFrame(data, ["department", "salary"])
df.show()

+----------+------+
|department|salary|
+----------+------+
|        HR|  3000|
|        IT|  4000|
|        HR|  3500|
|   Finance|  4500|
|        IT|  3800|
+----------+------+

In [0]:
df_grouped=df.groupBy("department").avg("salary")
df_grouped.show()

+----------+-----------+
|department|avg(salary)|
+----------+-----------+
|        HR|     3250.0|
|        IT|     3900.0|
|   Finance|     4500.0|
+----------+-----------+

In [0]:
df_grouped=df.groupBy("department").sum("salary")
df_grouped.show()

+----------+-----------+
|department|sum(salary)|
+----------+-----------+
|        HR|       6500|
|        IT|       7800|
|   Finance|       4500|
+----------+-----------+

In [0]:
df_grouped=df.groupBy("department").max("salary")
df_grouped.show()

+----------+-----------+
|department|max(salary)|
+----------+-----------+
|        HR|       3500|
|        IT|       4000|
|   Finance|       4500|
+----------+-----------+

In [0]:
df_grouped=df.groupBy("department").min("salary")
df_grouped.show()

+----------+-----------+
|department|min(salary)|
+----------+-----------+
|        HR|       3000|
|        IT|       3800|
|   Finance|       4500|
+----------+-----------+

In [0]:
df_grouped=df.groupBy("department").avg("salary")
df_grouped.show()

+----------+-----------+
|department|avg(salary)|
+----------+-----------+
|        HR|     3250.0|
|        IT|     3900.0|
|   Finance|     4500.0|
+----------+-----------+

In [0]:
# Convert DataFrame to RDD of (key, value) pairs
rdd = df.rdd.map(lambda row: (row["department"], row["salary"]))

# Use reduceByKey
rdd_reduced = rdd.reduceByKey(lambda a, b: a + b)
rdd_reduced.collect()

---------------------------------------------------------------------------
PySparkNotImplementedError                Traceback (most recent call last)
File <command-5445011855509544>, line 2
      1 # Convert DataFrame to RDD of (key, value) pairs
----> 2 rdd = df.rdd.map(lambda row: (row["department"], row["salary"]))
      4 # Use reduceByKey
      5 rdd_reduced = rdd.reduceByKey(lambda a, b: a + b)

File /databricks/python/lib/python3.11/site-packages/pyspark/sql/connect/dataframe.py:2432, in DataFrame.rdd(self)
   2430 @property
   2431 def rdd(self) -> "RDD[Row]":
-> 2432     raise PySparkNotImplementedError(
   2433         error_class="NOT_IMPLEMENTED",
   2434         message_parameters={"feature": "rdd"},
   2435     )

PySparkNotImplementedError: [NOT_IMPLEMENTED] Using custom code using PySpark RDDs is not allowed on serverless compute. We suggest using mapInPandas or mapInArrow for the most common use cases. For more details on compatibility and limitations, check: https://docs.databricks.com/release-notes/serverless.html#limitations

*Remove the duplication in ADB*

In [0]:
from pyspark.sql import SparkSession
from pyspark.sql.window import Window
from pyspark.sql.functions import col, row_number

# Initialize SparkSession
spark = SparkSession.builder.appName("RemoveDuplicates").getOrCreate()

# Create a sample DataFrame with duplicate id values
data = [
    (1, "Alice", 1000),
    (2, "Bob", 2000),
    (1, "Alice", 1500),  # Duplicate id
    (3, "Charlie", 3000),
    (2, "Bob", 2500)     # Duplicate id
]
columns = ["id", "name", "salary"]

df = spark.createDataFrame(data,columns)
display(df)

id,name,salary
1,Alice,1000
2,Bob,2000
1,Alice,1500
3,Charlie,3000
2,Bob,2500

In [0]:
# Add a row_number column
df2 =df.withColumn("row",row_number().over(Window.partitionBy("id").orderBy(col("id").asc())))
print("DataFrame with row numbers:")
df2.show()

DataFrame with row numbers:
+---+-------+------+---+
| id|   name|salary|row|
+---+-------+------+---+
|  1|  Alice|  1000|  1|
|  1|  Alice|  1500|  2|
|  2|    Bob|  2000|  1|
|  2|    Bob|  2500|  2|
|  3|Charlie|  3000|  1|
+---+-------+------+---+

In [0]:
#remove dulicates
#no_dupliacte_df=df2.filter(col("row")==1).drop("row")
#display(no_dupliacte_df)
# we can use any one of this
df_no_duplicates = df.dropDuplicates(["id"])

print("unique records:")
df_no_duplicates.show()

unique records:
+---+-------+------+
| id|   name|salary|
+---+-------+------+
|  1|  Alice|  1000|
|  2|    Bob|  2000|
|  3|Charlie|  3000|
+---+-------+------+

###To find  department wise salary###

In [0]:
Sample_data = [("Ram", "Technology", 4000),	

    ("Shyam", "Technology", 5600),	

    ("Veer", "Technology", 5100),	

    ("nayva", "Accounts", 4000),	

    ("Ram", "Technology", 4000),	

    ("Vijay", "Accounts", 4300),	

    ("Shivani", "Accounts", 4900),	

    ("dinesh", "Sales", 4000),	

    ("Anupam", "Sales", 3000),	

    ("Anas", "Technology", 5100)	

  ]	


Sample_columns= ["employee_name", "department", "salary"]	


df= spark.createDataFrame(data = Sample_data, schema = Sample_columns)	

df.printSchema()	

df.show(truncate=False)

root
 |-- employee_name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- salary: long (nullable = true)

+-------------+----------+------+
|employee_name|department|salary|
+-------------+----------+------+
|Ram          |Technology|4000  |
|Shyam        |Technology|5600  |
|Veer         |Technology|5100  |
|nayva        |Accounts  |4000  |
|Ram          |Technology|4000  |
|Vijay        |Accounts  |4300  |
|Shivani      |Accounts  |4900  |
|dinesh       |Sales     |4000  |
|Anupam       |Sales     |3000  |
|Anas         |Technology|5100  |
+-------------+----------+------+

In [0]:
from pyspark.sql.window import Window
from pyspark.sql.functions import row_number
df2 =df.withColumn("kush",row_number().over(Window.partitionBy("department").orderBy(col("salary").desc())))
display(df2)

employee_name,department,salary,kush
Shivani,Accounts,4900,1
Vijay,Accounts,4300,2
nayva,Accounts,4000,3
dinesh,Sales,4000,1
Anupam,Sales,3000,2
Shyam,Technology,5600,1
Veer,Technology,5100,2
Anas,Technology,5100,3
Ram,Technology,4000,4
Ram,Technology,4000,5

######Department wise second highest sal#####

In [0]:
df3 = df2.filter(df2.kush==2).show()
display(df3)

+-------------+----------+------+----+
|employee_name|department|salary|kush|
+-------------+----------+------+----+
|        Vijay|  Accounts|  4300|   2|
|       Anupam|     Sales|  3000|   2|
|         Veer|Technology|  5100|   2|
+-------------+----------+------+----+

####Find the second highest salary by using rank in adb####

In [0]:
# Import required libraries
from pyspark.sql import SparkSession
from pyspark.sql.window import Window
from pyspark.sql.functions import rank

# Initialize Spark session
spark = SparkSession.builder.appName("SecondHighestSalary").getOrCreate()

# Sample data: Replace this with your actual dataset
data = [
    ("Sales", 50000),
    ("Sales", 45000),
    ("HR", 55000),
    ("HR", 60000),
    ("IT", 70000),
    ("IT", 65000),
    ("IT", 72000),
]

# Create a DataFrame from the sample data
columns = ["department", "salary"]
df = spark.createDataFrame(data, columns)
display(df)

department,salary
Sales,50000
Sales,45000
HR,55000
HR,60000
IT,70000
IT,65000
IT,72000

In [0]:
# Add a rank column to the DataFrame based on the window specification
df_with_rank = df.withColumn("rank", rank().over( Window.partitionBy("department").orderBy(df["salary"].desc())
))
df_with_rank.show()

+----------+------+----+
|department|salary|rank|
+----------+------+----+
|        HR| 60000|   1|
|        HR| 55000|   2|
|        IT| 72000|   1|
|        IT| 70000|   2|
|        IT| 65000|   3|
|     Sales| 50000|   1|
|     Sales| 45000|   2|
+----------+------+----+

In [0]:
# Filter out the rows where rank = 2 to get the 2nd highest salary for each department
second_highest_salaries = df_with_rank.where(df_with_rank["rank"] == 1)

# Show the result
second_highest_salaries.show()

# Stop the Spark session

+----------+------+----+
|department|salary|rank|
+----------+------+----+
|        HR| 60000|   1|
|        IT| 72000|   1|
|     Sales| 50000|   1|
+----------+------+----+

###CrateOrReplaceTempView just like VIEW TABLE IN SQL###

*Creating empdf dataframe*

In [0]:
empColumns = ["emp_id","name","superior_emp_id","year_joined","emp_dept_id","gender","salary"]

empdata = [(1,"Smith",-1,"2018","10","M",3000), \
    (2,"Rose",1,"2010","20","M",4000), \
    (3,"Williams",1,"2010","10","M",1000), \
    (4,"Jones",2,"2005","10","F",2000), \
    (4,"Brown",2,"2010","40","",-1), \
      (6,"Brown",2,"2010","50","",-1) \
      ]

empDF = spark.createDataFrame(schema = empColumns, data=empdata)
empDF.show()

+------+--------+---------------+-----------+-----------+------+------+
|emp_id|    name|superior_emp_id|year_joined|emp_dept_id|gender|salary|
+------+--------+---------------+-----------+-----------+------+------+
|     1|   Smith|             -1|       2018|         10|     M|  3000|
|     2|    Rose|              1|       2010|         20|     M|  4000|
|     3|Williams|              1|       2010|         10|     M|  1000|
|     4|   Jones|              2|       2005|         10|     F|  2000|
|     4|   Brown|              2|       2010|         40|      |    -1|
|     6|   Brown|              2|       2010|         50|      |    -1|
+------+--------+---------------+-----------+-----------+------+------+

*Creating Deptdataframe*

In [0]:
deptdata = [("Finance",10), \
    ("Marketing",20), \
    ("Sales",30), \
    ("IT",40) \
  ]
deptColumns = ["dept_name","dept_id"]
deptDF = spark.createDataFrame(data=deptdata, schema = deptColumns)
deptDF.printSchema()
deptDF.show()

root
 |-- dept_name: string (nullable = true)
 |-- dept_id: long (nullable = true)

+---------+-------+
|dept_name|dept_id|
+---------+-------+
|  Finance|     10|
|Marketing|     20|
|    Sales|     30|
|       IT|     40|
+---------+-------+

In [0]:
#display both dataframes
display(empDF)
display(deptDF)

emp_id,name,superior_emp_id,year_joined,emp_dept_id,gender,salary
1,Smith,-1,2018,10,M,3000
2,Rose,1,2010,20,M,4000
3,Williams,1,2010,10,M,1000
4,Jones,2,2005,10,F,2000
4,Brown,2,2010,40,,-1
6,Brown,2,2010,50,,-1

dept_name,dept_id
Finance,10
Marketing,20
Sales,30
IT,40

create a view table in adb

In [0]:
empDF.createOrReplaceTempView("emp")
deptDF.createOrReplaceTempView("dept")

In [0]:
%sql
select * from emp

emp_id,name,superior_emp_id,year_joined,emp_dept_id,gender,salary
1,Smith,-1,2018,10,M,3000
2,Rose,1,2010,20,M,4000
3,Williams,1,2010,10,M,1000
4,Jones,2,2005,10,F,2000
4,Brown,2,2010,40,,-1
6,Brown,2,2010,50,,-1

In [0]:
%sql
select * from dept

dept_name,dept_id
Finance,10
Marketing,20
Sales,30
IT,40

self join by using emp table

In [0]:
%sql

select e.name as employee,em.name as managername from emp as e inner join emp as em on e.emp_id=em.superior_emp_id

employee,managername
Smith,Williams
Smith,Rose
Rose,Brown
Rose,Brown
Rose,Jones

*innner join by using two tables*

In [0]:
%sql
select * from EMP as e inner join DEPT as d on d.dept_id=emp_dept_id

emp_id,name,superior_emp_id,year_joined,emp_dept_id,gender,salary,dept_name,dept_id
1,Smith,-1,2018,10,M,3000,Finance,10
2,Rose,1,2010,20,M,4000,Marketing,20
3,Williams,1,2010,10,M,1000,Finance,10
4,Jones,2,2005,10,F,2000,Finance,10
4,Brown,2,2010,40,,-1,IT,40

In [0]:
%sql
select * from emp

emp_id,name,superior_emp_id,year_joined,emp_dept_id,gender,salary
1,Smith,-1,2018,10,M,3000
2,Rose,1,2010,20,M,4000
3,Williams,1,2010,10,M,1000
4,Jones,2,2005,10,F,2000
4,Brown,2,2010,40,,-1
6,Brown,2,2010,50,,-1

###maxsal###

In [0]:
%sql
select max(salary)as maxsal from emp

maxsal
4000

##department wise max salary##

In [0]:
%sql
select emp_dept_id,max(salary)as maxsal from emp group by emp_dept_id

emp_dept_id,maxsal
10,3000
20,4000
40,-1
50,-1

In [0]:
%sql
with cte
as
(
  select *,row_number()over(partition by emp_dept_id order by salary desc)as gg from emp
)
select * from cte where gg =1

emp_id,name,superior_emp_id,year_joined,emp_dept_id,gender,salary,gg
1,Smith,-1,2018,10,M,3000,1
2,Rose,1,2010,20,M,4000,1
4,Brown,2,2010,40,,-1,1
6,Brown,2,2010,50,,-1,1

###Overall highest sal###

In [0]:
%sql
with cte
as
(
   select *,row_number()over(order by salary desc)as overallhighsal from emp 
)
select * from cte where overallhighsal=1

emp_id,name,superior_emp_id,year_joined,emp_dept_id,gender,salary,overallhighsal
2,Rose,1,2010,20,M,4000,1

####inner join####

In [0]:
joinDF = spark.sql("select * from EMP as e inner join DEPT as d on d.dept_id=e.emp_dept_id").show()
display(joinDF)

+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|    name|superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name|dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|     1|   Smith|             -1|       2018|         10|     M|  3000|  Finance|     10|
|     2|    Rose|              1|       2010|         20|     M|  4000|Marketing|     20|
|     3|Williams|              1|       2010|         10|     M|  1000|  Finance|     10|
|     4|   Jones|              2|       2005|         10|     F|  2000|  Finance|     10|
|     4|   Brown|              2|       2010|         40|      |    -1|       IT|     40|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+

union

In [0]:
simpleData = [("James","Sales","NY",90000,34,10000), \
    ("Michael","Sales","NY",86000,56,20000), \
    ("Robert","Sales","CA",81000,30,23000), \
    ("Maria","Finance","CA",90000,24,23000) \
  ]

columns= ["employee_name","department","state","salary","age","bonus"]
df1 = spark.createDataFrame(data = simpleData, schema = columns)
display(df1)

simpleData2 = [("James","Sales","NY",90000,34,10000), \
    ("Maria","Finance","CA",90000,24,23000), \
    ("Jen","Finance","NY",79000,53,15000), \
    ("Jeff","Marketing","CA",80000,25,18000), \
    ("Kumar","Marketing","NY",91000,50,21000) \
  ]
columns2= ["employee_name","department","state","salary","age","bonus"]

df2 = spark.createDataFrame(data = simpleData2, schema = columns2)

display(df2)

employee_name,department,state,salary,age,bonus
James,Sales,NY,90000,34,10000
Michael,Sales,NY,86000,56,20000
Robert,Sales,CA,81000,30,23000
Maria,Finance,CA,90000,24,23000

employee_name,department,state,salary,age,bonus
James,Sales,NY,90000,34,10000
Maria,Finance,CA,90000,24,23000
Jen,Finance,NY,79000,53,15000
Jeff,Marketing,CA,80000,25,18000
Kumar,Marketing,NY,91000,50,21000

In [0]:
removedf = df1.union(df2).distinct()
display(removedf)

employee_name,department,state,salary,age,bonus
James,Sales,NY,90000,34,10000
Michael,Sales,NY,86000,56,20000
Robert,Sales,CA,81000,30,23000
Maria,Finance,CA,90000,24,23000
Jen,Finance,NY,79000,53,15000
Jeff,Marketing,CA,80000,25,18000
Kumar,Marketing,NY,91000,50,21000

###Row to column##

In [0]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, IntegerType

# Initialize Spark session
spark = SparkSession.builder.appName("SampleDataFrame").getOrCreate()

# Sample data
data = [
    ("Alice", 25, "New York"),
    ("Bob", 30, "Los Angeles"),
    ("Charlie", 35, "Chicago"),
    ("David", 40, "Houston"),
    ("Eva", 45, "Phoenix")
]

# Define schema
schema = StructType([
    StructField("Name", StringType(), True),
    StructField("Age", IntegerType(), True),
    StructField("City", StringType(), True)
])

# Create DataFrame
df = spark.createDataFrame(data, schema)

# Show DataFrame
df.show()

+-------+---+-----------+
|   Name|Age|       City|
+-------+---+-----------+
|  Alice| 25|   New York|
|    Bob| 30|Los Angeles|
|Charlie| 35|    Chicago|
|  David| 40|    Houston|
|    Eva| 45|    Phoenix|
+-------+---+-----------+

In [0]:
display(df)
df.collect()

Name,Age,City
Alice,25,New York
Bob,30,Los Angeles
Charlie,35,Chicago
David,40,Houston
Eva,45,Phoenix

[Row(Name='Alice', Age=25, City='New York'),
 Row(Name='Bob', Age=30, City='Los Angeles'),
 Row(Name='Charlie', Age=35, City='Chicago'),
 Row(Name='David', Age=40, City='Houston'),
 Row(Name='Eva', Age=45, City='Phoenix')]

###column to row###

In [0]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import explode

# Create SparkSession
spark = SparkSession.builder \
    .appName("Explode Example") \
    .getOrCreate()

# Sample data
data = [("John", ["apple", "banana", "orange"]),
        ("Doe", ["grape", "melon"])]

# Create DataFrame
df = spark.createDataFrame(data, ["name", "data"])
display(df)

# Explode the data column

name,data
John,"List(apple, banana, orange)"
Doe,"List(grape, melon)"

In [0]:
explode_df = df.select("name",explode("data").alias("fruits"))
display(explode_df)

name,fruits
John,apple
John,banana
John,orange
Doe,grape
Doe,melon

###Remove dupliaces###

In [0]:
from pyspark.sql import SparkSession

# Initialize Spark session
spark = SparkSession.builder.appName("RemoveDuplicates").getOrCreate()

# Sample data
simpleData = [
    ("James", "Sales", "NY", 90000, 34, 10000),
    ("Michael", "Sales", "NY", 86000, 56, 20000),
    ("James", "Sales", "CA", 81000, 30, 23000),
    ("Maria", "Finance", "CA", 90000, 24, 23000)
]

# Column names
columns = ["employee_name", "department", "state", "salary", "age", "bonus"]

# Create DataFrame
df1 = spark.createDataFrame(data=simpleData, schema=columns)

# Display the original DataFrame
df1.show()

# Select distinct department and employee_name
newdf = df1.select("department", "employee_name").dropDuplicates()


# Display the new DataFrame without duplicates
newdf.show()

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|        James|     Sales|   NY| 90000| 34|10000|
|      Michael|     Sales|   NY| 86000| 56|20000|
|        James|     Sales|   CA| 81000| 30|23000|
|        Maria|   Finance|   CA| 90000| 24|23000|
+-------------+----------+-----+------+---+-----+

+----------+-------------+
|department|employee_name|
+----------+-------------+
|     Sales|        James|
|     Sales|      Michael|
|   Finance|        Maria|
+----------+-------------+

##fillna just like a isnull in sql##

In [0]:
from pyspark.sql import SparkSession

# Create a Spark session
spark = SparkSession.builder.appName("Fillna Example").getOrCreate()

# Define the data with some null values
data = [
    ('Alice', 25, 'New York', 70000),
    ('Bob', None, None, 80000),
    ('Charlie', 35, 'Chicago', None),
    ('David', None, 'Houston', 90000)
]

# Define the schema (column names)
columns = ['Name', 'Age', 'City', 'Salary']

# Create the DataFrame
df = spark.createDataFrame(data, schema=columns)

print("Original DataFrame:")
df.show()

# Fill null values with specific values
filled_df = df.fillna({'Age': 0, 'City': 'Unknown', 'Salary': 0})

print("with out nullvalues:")
filled_df.show()

Original DataFrame:
+-------+----+--------+------+
|   Name| Age|    City|Salary|
+-------+----+--------+------+
|  Alice|  25|New York| 70000|
|    Bob|NULL|    NULL| 80000|
|Charlie|  35| Chicago|  NULL|
|  David|NULL| Houston| 90000|
+-------+----+--------+------+

with out nullvalues:
+-------+---+--------+------+
|   Name|Age|    City|Salary|
+-------+---+--------+------+
|  Alice| 25|New York| 70000|
|    Bob|  0| Unknown| 80000|
|Charlie| 35| Chicago|     0|
|  David|  0| Houston| 90000|
+-------+---+--------+------+

In [0]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, when

# Create a Spark session
spark = SparkSession.builder.appName("StatusTransformation").getOrCreate()

# Define the data and columns
data = [("Deepak", "05-01-2021", "Y"),
        ("Dinesh", "06-01-2021", "N"),
        ("kym", "06-01-2021", "P"),
        ("Ravi", "07-01-2021", "Y")]

columns = ["EmpName", "DateOfJoining", "Status"]

# Create the DataFrame df_emp
df_emp = spark.createDataFrame(data, columns)
display(df_emp)

EmpName,DateOfJoining,Status
Deepak,05-01-2021,Y
Dinesh,06-01-2021,N
kym,06-01-2021,P
Ravi,07-01-2021,Y

In [0]:
# Transform the Status column using when
df = df_emp.withColumn("Status",
    when(col("Status") == "Y", "Active").
    when(col("Status") == "P", "Present")
    .otherwise("InActive"))

# Show the resulting DataFrame
df.show()

+-------+-------------+--------+
|EmpName|DateOfJoining|  Status|
+-------+-------------+--------+
| Deepak|   05-01-2021|  Active|
| Dinesh|   06-01-2021|InActive|
|    kym|   06-01-2021| Present|
|   Ravi|   07-01-2021|  Active|
+-------+-------------+--------+

In [0]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import monotonically_increasing_id

# Initialize a SparkSession
spark = SparkSession.builder.appName("AutoGenerateSno").getOrCreate()

# Sample data
data = [("John", "New York"),
        ("Alice", "Los Angeles"),
        ("Bob", "Chicago")]

# Create a DataFrame
df = spark.createDataFrame(data, ["name", "city"])
display(df)

name,city
John,New York
Alice,Los Angeles
Bob,Chicago

###monotonically increasing like identity(1,1) in sql ###

In [0]:
# Add a new column "sno" with auto-generated sequential numbers
df_with_sno = df.withColumn("sno",monotonically_increasing_id())
display(df_with_sno)

name,city,sno
John,New York,0
Alice,Los Angeles,1
Bob,Chicago,2

###Genrated unique id###

In [0]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import xxhash64

# Create Spark session
spark = SparkSession.builder.appName("HashIDExample").getOrCreate()

# Sample DataFrame
data = [("Alice", 23), ("Bob", 30), ("Cathy", 25)]
columns = ["name", "age"]
df = spark.createDataFrame(data, columns)
display(df)

name,age
Alice,23
Bob,30
Cathy,25

In [0]:
# Generate a unique hash ID using xxhash64 on name and age columns
df_with_hash = df.withColumn("unique_id",xxhash64("name","age"))

df_with_hash.show()

+-----+---+-------------------+
| name|age|          unique_id|
+-----+---+-------------------+
|Alice| 23|2765155451285194269|
|  Bob| 30|9166843498197313166|
|Cathy| 25|7190704322154900827|
+-----+---+-------------------+

##Regular expression it will suparate the name with number

In [0]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import regexp_replace

# Create a Spark session
spark = SparkSession.builder.appName("RemoveNumbers").getOrCreate()

# Sample DataFrame with a "names" column
data = [("Yughandar123",),
        ("siva456",),
        ("Alice",),
        ("kush123456",)]
columns = ["names"]

df = spark.createDataFrame(data, columns)
display(df)

names
Yughandar123
siva456
Alice
kush123456

In [0]:
# Remove numbers from the "names" column using regexp_replace
df_without_numbers = df.withColumn("names_without_numbers", regexp_replace("names", r'\d+', ''))

df_without_numbers.show()

+------------+---------------------+
|       names|names_without_numbers|
+------------+---------------------+
|Yughandar123|            Yughandar|
|     siva456|                 siva|
|       Alice|                Alice|
|  kush123456|                 kush|
+------------+---------------------+

### Pivot##

In [0]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F

# Create a Spark session
spark = SparkSession.builder.appName("PivotExample").getOrCreate()

# Create the initial DataFrame
data = [("Banana", 1000, "USA"),
        ("Carrots", 1500, "USA"),
        ("Banana", 400, "China")]
columns = ["Product", "Amount", "Country"]

df = spark.createDataFrame(data, columns)
display(df)

# Pivot the DataFrame
# Pivot the DataFrame
new_df = df.groupBy("Product").pivot("Country").agg(F.sum("Amount"))

# Show the result
new_df.show()

Product,Amount,Country
Banana,1000,USA
Carrots,1500,USA
Banana,400,China

+-------+-----+----+
|Product|China| USA|
+-------+-----+----+
|Carrots| NULL|1500|
| Banana|  400|1000|
+-------+-----+----+

###Formated NUMBER###

In [0]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import format_number, col

# Create Spark session
spark = SparkSession.builder.appName("FormatNumberExample").getOrCreate()

# Sample DataFrame with floating numbers
data = [("Alice", 12345.6789), ("Bob", 9876543.21), ("Cathy", 1000.5)]
columns = ["name", "salary"]
df = spark.createDataFrame(data, columns)
df.show(truncate=False)

# Format salary with commas and 2 decimal places
df_formatted = df.withColumn("formatted_salary", format_number(col("salary"), 2))

df_formatted.show(truncate=False)

+-----+----------+
|name |salary    |
+-----+----------+
|Alice|12345.6789|
|Bob  |9876543.21|
|Cathy|1000.5    |
+-----+----------+

+-----+----------+----------------+
|name |salary    |formatted_salary|
+-----+----------+----------------+
|Alice|12345.6789|12,345.68       |
|Bob  |9876543.21|9,876,543.21    |
|Cathy|1000.5    |1,000.50        |
+-----+----------+----------------+